@import "tailwindcss";

/* ------------------------------
   Google Font
--------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ------------------------------
   Theme Variables
--------------------------------*/

:root{
    --bg:#050816;
    --card:rgba(255,255,255,.05);
    --primary:#8B5CF6;
    --secondary:#EC4899;
    --text:#FFFFFF;
}

/* ------------------------------
   Reset
--------------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:"Poppins",sans-serif;

    background:var(--bg);

    color:white;

    overflow-x:hidden;

}

/* ------------------------------
   Selection
--------------------------------*/

::selection{

    background:#8B5CF6;

    color:white;

}

/* ------------------------------
   Scrollbar
--------------------------------*/

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#050816;

}

::-webkit-scrollbar-thumb{

    background:#8B5CF6;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#A855F7;

}

/* ------------------------------
   Utilities
--------------------------------*/

.glass{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(14px);

    border:1px solid rgba(255,255,255,.08);

}

.glow{

    box-shadow:
    0 0 40px rgba(139,92,246,.35);

}